:root {
  --primary-green: #495E57;
  --primary-yellow: #F4CE14;
  --secondary-green: #92BDAF;
  --secondary-yellow: #C3A510;
}


body {
  background-color: #FFFFFF;
  font-family: 'Markazi Text', 'Type System', 'Proxima Nova', 'Verdana', 'Roboto', 'Raleway';
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: 0em;
  margin-right: 0em;
}

/* Begin nav-section */
.nav-container {
  width: 100%;
}

.nav-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  list-style: none;
  padding: 1em;
}

.nav-logo {
  display: flex;
  width: 15rem;
  height: 5rem;
  margin-right: 5rem;
}

.nav-link {
  color: #333333;
  text-decoration: none;
  font-weight: bold;
  width: max-content;
  cursor: pointer;
}

.nav-link a {
  color: #333333;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5em;
}

.nav-link a:hover {
  background-color: var(--secondary-green);
  color: rgba(103, 14, 14, 0.746);
}

.nav-link-icon,
.button-hamburger {
  background-color: #FFFFFF;
  border: none;
  margin: 0;
  display: none;
}


/* End nav-section */

/* Begin CallToAction section */
.call-to-action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15vw;
  height: 19em;
  background-color: #495E57;
  /* padding: 3em; */
}

.call-to-action>section>img {
  display: flex;
  /* width: 22em;
  height: 26em; */
  border-radius: 1em;
}

.call-to-action>section>button {
  width: 10rem;
  height: 3rem;
  border-radius: 1rem;
  padding: 0.5em;
  background-color: var(secondary-yellow);
  color: #333333;
  font-size: 13.5pt;
  border: 0;
  font-weight: bold;
  text-decoration: none;
}

.call-to-action>section>button:hover {
  background-color: #C3A510;
}

.call-to-action-button-link {
  text-decoration: none;
}


.call-to-action>section {
  display: flex;
  flex-direction: column;
  margin: 0em;
}

.call-to-action>section>p {
  width: 14em;
  font-size: 14pt;
  color: #EDEFEE;
}

/* End CallToAction Component */


/* Begin chicago component style */
#section-chicago-h1 {
  margin-top: 0;
  margin-bottom: 0em;
  color: #C3A510;
  font-size: 30pt;
}

#section-chicago-h2 {
  margin-top: 0em;
  margin-bottom: 0.5em;
  color: #EDEFEE;
  font-size: 22pt;
  font-weight: lighter;
}

/* End chicago component style */



/* Begin mobile first  */
@media (max-width:667px) {

  /*Begin nav-section*/
  .nav-menu {
    display: flex;
    position: relative;
    gap: 0;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .nav-logo {
    width: 10rem;
    height: 4rem;
    margin: 0;
  }

  .nav-link {
    display: none;
  }

  .nav-link-icon,
  .button-hamburger {
    display: flex;
    cursor: pointer;
    padding-left: .5em;
    padding-right: .5em;
  }

  .menu-container-responsive {
    position: absolute;
    margin-top: 2.5rem;
    font-weight: bold;
    left: 0.7rem;
    padding: 1em;
    background-color: var(--secondary-green);
    min-width: 8.5rem;
    border-radius: .5rem;
    overflow-y: auto;
  }

  .nav-link-responsive {
    list-style: none;
    padding-bottom: 1em;
  }

  .nav-link-responsive:last-child {
    padding-bottom: 0;
  }

  .nav-link-responsive a {
    color: #f6f3f3;
    text-decoration: none;
    font-weight: bold;
  }

  .nav-link-responsive a:hover {
    transition: all .3s ease-out;
    background-color: var(--secondary-yellow);
    color: rgba(103, 14, 14, 0.746);
    padding: .5em;
    border-radius: 0.5rem;
  }

  /* End nav-section */

  /* Begin CallToAction section */
  .call-to-action-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    height: 15rem;
    background-color: #495E57;
    padding: 1em;
  }

  .call-to-action-img {
    display: flex;
    width: 80%;
    max-width: 15rem;
    border-radius: 1rem;
  }


  .call-to-action-button {
    width: 9rem;
    height: 2.5rem;
    border-radius: 1rem;
    padding: 0.5em;
    background-color: #F4CE14;
    color: #333333;
    font-size: 10pt;
    border: 0em;
    font-weight: bold;
    text-decoration: none;
  }

  .call-to-action-button:hover {
    background-color: #C3A510;
  }

  .call-to-action-button-link {
    text-decoration: none;
  }

  .call-to-action-p {
    width: 14rem;
    font-size: 12pt;
    color: #EDEFEE;
  }

  /* End CallToAction Component */


  /* Begin chicago component style */
  #section-chicago-h1 {
    margin-top: 0em;
    margin-bottom: 0em;
    color: var(--secondary-yellow);
    font-size: 20pt;
  }

  #section-chicago-h2 {
    margin-top: 0rem;
    margin-bottom: 0.5rem;
    color: #EDEFEE;
    font-size: 15pt;
    font-weight: lighter;
  }

  /* End chicago component style */
  /* End CallToAction section */


  /* Begin Specials Section */
  .specials-section-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    font-family: "Karla";
    margin-top: 1rem;
    margin-left: 1rem;
  }

  .specials-section-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding: 0;
  }

  .specials-section-header>h1 {
    padding: 0;
    font-size: 16.5pt;
  }

  .specials-section-header>button {
    border-radius: 0.5rem;
    padding: 1em;
    background-color: var(--secondary-yellow);
    color: #333333;
    font-size: 11pt;
    border: 0em;
    font-weight: bold;
    cursor: pointer;
  }

  .specials-section-header>button:hover {
    background-color: var(--secondary-green);
  }

  /* End Specials Section */
}


/* Begin Specials Component
.specials-section {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  margin-top: 8em;
}

.specials-section-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12vw;
  padding: 2em;
}

.specials-section-header>h1 {
  margin: 0em;
  color: #333333;
  font-size: 35pt;
}

.specials-section-header>button {
  width: 12em;
  height: 3em;
  border-radius: 1em;
  padding: 0.5em;
  background-color: #F4CE14;
  color: #333333;
  font-size: 13.5pt;
  border: 0em;
  font-weight: bold;
} */

*/
/* Begin Card section of specials */
/* .specials-section-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2vw;
  padding: 1em;
}

.specials-section-card {
  display: flex;
  flex-direction: column;
  width: 17.5em;
  align-items: center;
  background-color: #EDEFEE;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
}

.card-image {
  width: 17.5em;
  height: 10em;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
}

.card-header {
  display: flex;
  padding-top: 1em;
  width: 15.0em;
  justify-content: space-between;
  color: #333333;
  font-size: 12.5pt;
  font-weight: bold;
}

#card-header-price {
  color: #EE946B;
}

#card-description {
  width: 15em;
  height: 8em;
}

.card-footer {
  display: flex;
  align-self: flex-start;
  gap: 1em;
  color: #333333;
  font-size: 12.5pt;
  border: 0em;
  font-weight: bold;
  padding-bottom: 1em;
  padding-left: 1em;
}

/* End Specials Component */


/* Begin section-testimonials*/
/* .section-testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3em;
  padding-bottom: 3em;
  background-color: #BCD1CA;
  margin-top: 3em;
}

.section-testimonials>h1 {
  font-weight: lighter;
  color: #333333;
  font-size: 35pt;
}

#rating-header {
  font-weight: bold;
  color: #333333;
  font-size: 12.5pt;
}

.card-review-container {
  display: flex;
  justify-content: center;
  gap: 2em;
  width: 20em;
}

.card-image-testimonial {
  display: inline-flex;
  width: 15em;
  height: 6em;
  padding-top: 2em;
  gap: 3em
}

.card-image>p {
  margin-top: 0em;
} */

/* End section-testimonials*/

/* Begin about-container*/
/* .about-container {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 4em;
  margin-right: 45em;
}

.about-container>div>h2 {
  font-weight: bold;
  color: #333333;
}

.about-container>div>p {
  width: 15em;
}

.about-chef-image-container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.about-chef-image1 {
  display: flex;
  width: 25em;
  height: 20em;
  padding-left: 18em;
  position: absolute;
  z-index: 3;
  opacity: 0.9;
  border-radius: 2em;
}

.about-chef-image2 {
  display: flex;
  width: 25em;
  height: 20em;
  border-radius: 2em;
  position: absolute;
  z-index: 2;
  padding-top: 10em;
} */

/* End about-container*/


/*Begin reservation-form */
/* .section-reservation-container {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  gap: 4em;
  background-color: #495E57;
  padding: 2em;
}

.section-reservation-label {
  color: #C3A510;
}

.section-reservation-form>button {
  display: flex;
  justify-content: center;
  background-color: #C3A510;
  padding: 1em;
} */

/*.reservation-form-button {
   background-color: #C3A510; */
/* width: 15em;
  height: 3em;
  border-radius: 0.5em;
  padding: 0.5em;
  background-color: #F4CE14;
  font-size: 10.5pt;
  border: 0em;
  font-weight: bold;
  margin-top: 1em;
}

.reservation-input-date {
  width: 12em;
  height: 1.5em;
  border-radius: 0.5em;
  padding: 0.5em;
  background-color: #EDEFEE;
  font-size: 12.5pt;
  border: 0em;
  font-weight: lighter;
}

.reservation-input-guests {
  width: 12em;
  height: 1em;
  border-radius: 0.5em;
  padding: 0.5em;
  background-color: #EDEFEE;
  font-size: 12.5pt;
  border: 0em;
  font-weight: lighter;
}

.reservation-select-times {
  width: 13em;
  height: 2em;
  border-radius: 0.5em;
  padding: 0.5em;
  background-color: #EDEFEE;
  font-size: 12.5pt;
  border: 0em;
  font-weight: lighter;
}

.reservation-select-occasion {
  width: 13em;
  height: 2.5em;
  border-radius: 0.5em;
  padding: 0.5em;
  background-color: #EDEFEE;
  font-size: 12.5pt;
  border: 0em;
  font-weight: lighter;
} */

/*End reservation-form */


/*Begin Booking slot section */
/* .section-booking-slot {
  display: flex;
  flex-direction: column;
  color: #EDEFEE;
}

.section-booking-slot-fields {
  display: inline-flex;
}

.section-booking-slot>h3 {
  text-decoration: underline;
  font-weight: lighter;
  color: #333333;
}

.section-booking-slot-header {
  color: #C3A510;
  font-weight: bold;
  padding-right: 1em;
} */

/*End Booking slot section */


/* Begin footer section */
/* .footer-section {
  display: flex;
  align-items: center;
  margin-top: 15em;
  padding: 2em;
  background-color: #EDEFEE;
}

.footer-section>div {
  flex: 1;
} */

/*contact section*/
/* .footer-contact {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.footer-contact>p {
  margin-left: 3em;
  font-size: medium;
  font-weight: bold;
  color: #333333;
}

.footer-contact-list {
  display: flex;
  flex-direction: column;
}

.footer-contact-list>li {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  list-style: none;
}

.footer-contact>ul>li>img {
  width: 2em;
  height: 3em;
  padding-right: 1em;
} */

/*social media section*/
/* .footer-social-media {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.footer-social-media-list {
  display: flex;
  flex-direction: column;
}

.footer-social-media>p {
  margin-left: 3em;
  font-size: medium;
  font-weight: bold;
  color: #333333;
}

.footer-social-media>ul>li {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  list-style: none;
}

.footer-social-media-list>li>img {
  width: 2em;
  height: 3em;
  padding-right: 1em;
}

.footer-logo-img {
  height: 18em;
  width: 8em;
  padding-left: 10em;
} */


/*Begin media call-to-action */
/* @media (max-width: 400px) {
  .call-to-action {
    display: flex;
    padding-top: 5em;
    padding-bottom: 5em;
    flex-direction: column;
    align-content: center;
    gap: 2vw;
  }
}

@media (max-width: 838px) {
  .call-to-action {
    display: flex;
    flex-direction: column;
    padding-top: 5em;
    padding-bottom: 5em;
    height: 42em;
    gap: 2vw;
  }
} */

/*End media call-to-action */

/*Begin testimonials review section */
/* @media (max-width: 400px) {
  .card-review-container {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 838px) {
  .card-review-container {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 1100px) {
  .card-review-container {
    display: flex;
    flex-wrap: wrap;
  }
} */

/* End media call-to-action */


/* Begin about section */
/* @media (max-width: 400px) {
  .about-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

@media (max-width: 838px) {
  .about-container {
    padding-left: 3em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

@media (max-width: 1140px) {
  .about-container {
    padding-left: 8em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .about-chef-image-container {
    padding-bottom: 17em;
  }
} */

/*Begin about section  */



/*Begin footer  section */
/* @media (max-width: 400px) {
  .footer-section {
    padding-top: 25em;
  }
}

@media (max-width: 838px) {
  .footer-section {
    padding-left: 3em;
  }
}


@media (max-width: 1210px) {
  .footer-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 2em;
  }

  .footer-logo-img {
    padding-left: 2em;
  }
} */


/* End footer  section */