:root {
  --primary-green: #495E57;
  --primary-yellow: #F4CE14;
  --secondary-green: #92BDAF;
  --secondary-yellow: #C3A510;
  --cards-colors-separator: #959595;
}


body {
  background-color: #FFFFFF;
  font-family: 'Markazi Text', 'Type System', 'Proxima Nova', 'Verdana', 'Roboto', 'Raleway';
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: 0em;
  margin-right: 0em;
}

/* Begin nav-section */
.nav-container {
  width: 100%;
}

.nav-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  list-style: none;
  padding: 1em;
}

.nav-logo {
  display: flex;
  width: 15rem;
  height: 5rem;
  margin-right: 5rem;
}

.nav-link {
  color: #333333;
  text-decoration: none;
  font-weight: bold;
  width: max-content;
  cursor: pointer;
}

.nav-link a {
  color: #333333;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5em;
}

.nav-link a:hover {
  background-color: var(--secondary-green);
  color: rgba(103, 14, 14, 0.746);
}

.nav-link-icon,
.button-hamburger {
  background-color: #FFFFFF;
  border: none;
  margin: 0;
  display: none;
}

/* End nav-section */


/* Begin CallToAction section */
.call-to-action-container {
  display: flex;
  justify-content: center;
  gap: 6rem;
  align-items: center;
  max-width: 100%;
  height: 20rem;
  background-color: var(--primary-green);
  padding: 1em;
}

.call-to-action-img {
  display: flex;
  width: 100%;
  max-width: 18rem;
  border-radius: 1rem;
  transform: translateY(12%);
}


.call-to-action-button {
  width: 9rem;
  height: 2.5rem;
  border-radius: 1rem;
  padding: 0.5em;
  background-color: var(--primary-yellow);
  color: #333333;
  font-size: 10pt;
  border: 0em;
  font-weight: bold;
  text-decoration: none;
}

.call-to-action-button:hover {
  background-color: var(--secondary-yellow);
}

.call-to-action-button-link {
  text-decoration: none;
}

.call-to-action-p {
  width: 14rem;
  font-size: 12pt;
  color: #EDEFEE;
}

.call-to-action-header {
  margin-top: 0em;
  margin-bottom: 0em;
  color: var(--secondary-yellow);
  font-size: 20pt;
}

.call-to-action-subheader {
  margin-top: 0rem;
  margin-bottom: 0.5rem;
  color: #EDEFEE;
  font-size: 15pt;
  font-weight: lighter;
}

/* End CallToAction Component */

/* Begin Specials Section */
.specials-section-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  font-family: "Karla";
  align-items: center;
  padding: 5em 1em;
  width: 95%;
}

.specials-section-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 55%;

}

.specials-section-header>h1 {
  font-family: 'Markazi Text';
  padding: 0;
  font-size: 18pt;
}

.specials-section-header>button {
  border-radius: 0.5rem;
  padding: 1em;
  background-color: var(--secondary-yellow);
  color: #333333;
  font-size: 11pt;
  border: 0em;
  font-weight: bold;
  cursor: pointer;
}

.specials-section-header>button:hover {
  background-color: var(--secondary-green);
}

/*Card items sections*/
.specials-section-card-container {
  display: flex;
  gap: 1em;
}

.specials-section-card {
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 2em;
  background-color: #EDEFEE;
  cursor: pointer;
  padding: 0;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  width: 100%;
}

.specials-section-card:hover {
  box-shadow: .5rem .5rem .5rem var(--cards-colors-separator);
  transition: all .3s ease-out;
}

.specials-section-card-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-item-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-item-header>p {
  font-weight: bold;
  font-size: 15pt;
  width: 9.5rem;
}

.card-item-header>p:last-child {
  color: #EE9972;
  font-weight: bold;
  width: 3rem;
  font-size: 13pt;
}

.card-item-description {
  width: 80%;
  max-width: 14rem;
  font-size: 13pt;
  color: #333333;

}

.card-item-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-item-footer>p {
  font-weight: bold;
  font-size: 12.5pt;
  width: 8rem;
  padding-right: 1.5em;
}

.card-item-footer>img {
  max-width: 2rem;
  height: 2rem;
}

.card-image-container {
  display: flex;
  justify-content: center;
  padding: 0;
}

.card-image {
  display: flex;
  width: 17rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

/* End Specials Section */
@media (max-width: 900px) {
  .specials-section-card-container {
    display: flex;
    flex-direction: column;
  }
}



/* Begin mobile first  */
@media (max-width:667px) {

  /*Begin nav-section*/
  .nav-menu {
    display: flex;
    position: relative;
    gap: 0;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .nav-logo {
    width: 10rem;
    height: 4rem;
    margin: 0;
  }

  .nav-link {
    display: none;
  }

  .nav-link-icon,
  .button-hamburger {
    display: flex;
    cursor: pointer;
    padding-left: .5em;
    padding-right: .5em;
  }

  .button-hamburger:hover {
    background-color: var(--secondary-green);
    border-radius: 0.5rem;
  }

  .menu-container-responsive {
    position: absolute;
    margin-top: 2.5rem;
    font-weight: bold;
    left: 0.7rem;
    padding: 1em;
    background-color: var(--secondary-green);
    min-width: 8.5rem;
    border-radius: .5rem;
    overflow-y: auto;
  }

  .nav-link-responsive {
    list-style: none;
    padding-bottom: 1em;
  }

  .nav-link-responsive:last-child {
    padding-bottom: 0;
  }

  .nav-link-responsive a {
    color: #f6f3f3;
    text-decoration: none;
    font-weight: bold;
  }

  .nav-link-responsive a:hover {
    transition: all .3s ease-out;
    background-color: var(--secondary-yellow);
    color: rgba(103, 14, 14, 0.746);
    padding: .5em;
    border-radius: 0.5rem;
  }

  /* End nav-section */

  /* Begin CallToAction section */
  .call-to-action-container {
    display: flex;
    justify-content: space-around;
    gap: 0;
    align-items: center;
    max-width: 100%;
    height: 15rem;
    background-color: var(--primary-green);
    padding: 1em;
  }

  .call-to-action-img {
    display: flex;
    width: 80%;
    max-width: 15rem;
    border-radius: 1rem;
    transform: translateY(0%);
  }


  .call-to-action-button {
    width: 9rem;
    height: 2.5rem;
    border-radius: 1rem;
    padding: 0.5em;
    background-color: var(--primary-yellow);
    color: #333333;
    font-size: 10pt;
    border: 0em;
    font-weight: bold;
    text-decoration: none;
  }

  .call-to-action-button:hover {
    background-color: var(--secondary-yellow);
  }

  .call-to-action-button-link {
    text-decoration: none;
  }

  .call-to-action-p {
    width: 14rem;
    font-size: 12pt;
    color: #EDEFEE;
  }

  .call-to-action-header {
    margin-top: 0em;
    margin-bottom: 0em;
    color: var(--secondary-yellow);
    font-size: 20pt;
  }

  .call-to-action-subheader {
    margin-top: 0rem;
    margin-bottom: 0.5rem;
    color: #EDEFEE;
    font-size: 15pt;
    font-weight: lighter;
  }

  /* End CallToAction Component */

  /* Begin Specials Section */
  .specials-section-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    font-family: "Karla";
    align-items: center;
    /* background-color: #EDEFEE; */
    padding: 2em 1em;
    width: 95%;
  }

  .specials-section-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    gap: 1rem;
  }

  .specials-section-header>h1 {
    font-family: 'Markazi Text';
    padding: 0;
    font-size: 18pt;
  }

  .specials-section-header>button {
    border-radius: 0.5rem;
    padding: 1em;
    background-color: var(--secondary-yellow);
    color: #333333;
    font-size: 11pt;
    border: 0em;
    font-weight: bold;
    cursor: pointer;
  }

  .specials-section-header>button:hover {
    background-color: var(--secondary-green);
  }

  /*Card items sections*/
  .specials-section-card-container {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .specials-section-card {
    display: flex;
    flex-direction: row;
    padding-bottom: 2em;
    border-top: var(--cards-colors-separator) 2px solid;
    border-bottom: #959595 2px solid;
    background-color: #ffffff;
    cursor: pointer;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    padding-left: 1em;
  }

  .specials-section-card:hover {
    box-shadow: .5rem .5rem .5rem var(--cards-colors-separator);
    transition: all .3s ease-out;
  }

  .specials-section-card-items {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .card-item-header {
    display: flex;
    align-items: center;
    padding-left: 0;
  }

  .card-item-header>p {
    font-weight: bold;
    font-size: 15pt;
    width: 8rem;
  }

  .card-item-header>p:last-child {
    color: #EE9972;
    font-weight: bold;
    font-size: 13pt;
  }

  .card-item-description {
    width: 100%;
    max-width: 15rem;
    font-size: 13pt;
    color: #333333;
  }

  .card-item-footer {
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .card-item-footer>p {
    font-weight: bold;
    font-size: 12.5pt;
    width: 8rem;
    padding-right: 1.5em;
  }

  .card-item-footer>img {
    max-width: 2rem;
    height: 2rem;
  }

  .card-image-container {
    display: flex;
    padding-right: 1em;
  }

  .card-image {
    display: flex;
    width: 95%;
    max-width: 13rem;
    max-height: 8rem;
    border-radius: 2rem;
    padding: 1em;
  }

  /* End Specials Section */
  /*Begin section CustomerSay*/
  .section-testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 2em;
    padding-bottom: 3em;
    background-color: var(--primary-green);
  }

  #section-testimonials-header {
    color: var(--primary-yellow);
    font-weight: lighter;
    font-size: 22pt;
  }

  #rating-header {
    font-weight: bold;
    color: #333333;
    font-size: 12.5pt;
  }

  /*Begin card */
  .card-review-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    width: 100%;
  }

  .card-review-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    max-width: 20rem;
    background-color: #F5F5F5;
    border-radius: .5rem;
    padding: .5em;
    cursor: pointer;
  }

  .card-review-item:hover {
    transform: scale(105%);
    box-shadow: .5rem .5rem .5rem var(--cards-colors-separator);
    transition: all .3s ease-out;
  }

  .card-image-testimonial {
    display: flex;
    padding-top: 2em;
    gap: 1em;
  }

  .card-image-testimonial>p {
    font-weight: bold;
    color: #333333;
    font-size: 12.5pt;
  }

  .card-review-image {
    border-radius: 4rem;
    width: 5rem;
    min-height: 20%;
  }

  .card-review-description {
    width: 90%;
    max-width: 18rem;
    margin: 0;
    padding: 1em;
  }

  /* End section-testimonials*/

  /* Begin about-container*/
  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 4em;
    padding-left: 1em;
  }

  .section-about-description>h1 {
    font-family: 'Markazi Text';
    font-size: 30pt;
    font-weight: bold;
    color: #333333;
    margin: 0;
  }

  .section-about-description>h2 {
    font-family: 'Markazi Text';
    font-size: 20pt;
    font-weight: bold;
    color: #333333;
    margin: 0;
  }

  .section-about-description>p {
    font-family: 'Karla';
    width: 80%;
    max-width: 20rem;
    font-size: 14pt;
    margin-right: 1rem;
  }

  .section-about-image-container {
    display: flex;
    padding: 1em;
  }

  .about-chef-image1 {
    width: 60%;
    max-width: 17rem;
    border-radius: 1rem;
    transform: translate(-2rem);
    z-index: 3;
  }

  .about-chef-image2 {
    width: 50%;
    max-width: 15rem;
    border-radius: 1rem;
    z-index: 2;
    transform: translateY(3rem);
  }

  /* End about-container*/


  /* Begin footer section */
  .footer-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    padding-top: 4em;
    padding-bottom: 4em;
    background-color: var(--primary-yellow);
    font-family: 'Karla';
    width: 100%;
  }

  .footer-section-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-section-logo-img {
    width: 90%;
    max-width: 8rem;
    padding-bottom: 3em;
  }

  /*contact section*/
  .footer-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2em;
  }

  .footer-contact>p {
    font-size: 15pt;
    font-weight: bold;
    color: #333333;
    margin: 0;
  }

  .footer-contact-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 90%;
  }

  .footer-contact-list>li {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    list-style: none;
  }

  .footer-contact>ul>li>img {
    width: 90%;
    max-width: 2rem;
    height: 2rem;
    padding-right: 0.5em;
  }

  .footer-contact-list-address {
    width: 10rem;
  }

  /*social media section*/
  .footer-social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
  }

  .footer-social-media-list {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .footer-social-media>p {
    font-size: 15pt;
    font-weight: bold;
    color: #333333;
    margin: 0;
  }

  .footer-social-media>ul>li {
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style: none;
  }

  .footer-social-media-list>li>img {
    width: 2rem;
    height: 2rem;
    padding-right: 0.5em;
  }

  .footer-end-restaurant-name>p {
    font-weight: bold;
    font-size: 15pt;
    align-self: flex-end;
    border-top: 0.1em solid var(--primary-green);
    padding: 0.5em;
  }

  /*End footer section*/


  /*Begin reservation-form */
  .section-reservation-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    background-color: #495E57;
    padding: 3em;
  }

  .section-reservation-label {
    color: #C3A510;
  }

  .section-reservation-form>button {
    display: flex;
    justify-content: center;
    background-color: #C3A510;
    padding: 1em;
  }

  .reservation-form-button {
    /*  background-color: #C3A510; */
    width: 15em;
    height: 3em;
    border-radius: 0.5em;
    padding: 0.5em;
    background-color: #F4CE14;
    font-size: 10.5pt;
    border: 0em;
    font-weight: bold;
    margin-top: 1em;
  }

  .reservation-input-date {
    width: 12em;
    height: 1.5em;
    border-radius: 0.5em;
    padding: 0.5em;
    background-color: #EDEFEE;
    font-size: 12.5pt;
    border: 0em;
    font-weight: lighter;
  }

  .reservation-input-guests {
    width: 12em;
    height: 1em;
    border-radius: 0.5em;
    padding: 0.5em;
    background-color: #EDEFEE;
    font-size: 12.5pt;
    border: 0em;
    font-weight: lighter;
  }

  .reservation-select-times {
    width: 13em;
    height: 2em;
    border-radius: 0.5em;
    padding: 0.5em;
    background-color: #EDEFEE;
    font-size: 12.5pt;
    border: 0em;
    font-weight: lighter;
  }

  .reservation-select-occasion {
    width: 13em;
    height: 2.5em;
    border-radius: 0.5em;
    padding: 0.5em;
    background-color: #EDEFEE;
    font-size: 12.5pt;
    border: 0em;
    font-weight: lighter;
  }

  */
  /*End reservation-form */


  /*Begin Booking slot section */
  .section-booking-slot {
    display: flex;
    flex-direction: column;
    color: #EDEFEE;
  }

  .section-booking-slot>h3 {
    padding-top: 2em;
    text-decoration: underline;
    font-weight: lighter;
    color: #f8f5f5;
  }

  .section-booking-slot-header {
    color: #C3A510;
    font-weight: bold;
  }

  .footer-end-restaurant-name {
    display: flex;
    flex-direction: column;
  }

  /*End Booking slot section */
}